<h2 class="text-center m-3">Cadastrar Carros</h2>
<hr>
<div class="">
    <div class="row my-2">
        <div class="col-12 col-md-4">
            <label for="nome" class="form-label">Nome do Carro</label>
            <input type="text" name="nome" id="nome" [(ngModel)]="carro.nome" placeholder="Informe o nome" class="form-control">
        </div>
        <div class="col-12 col-md-4">
            <label for="nome" class="form-label">Cor</label>
            <input type="text" name="cor" id="cor" [(ngModel)]="carro.cor" placeholder="Informe a cor" class="form-control">
        </div>
        <div class="col-12 col-md-4">
            <label for="nome" class="form-label">Preco</label>
            <input type="text" name="preco" [(ngModel)]="carro.preco" id=preco placeholder="Informe o preço " class="form-control">

    <div class="col-12 text-end">
        <a href="#" [routerLink]="['/carros']" class="btn btn-secondary">Voltar</a>
        <button type="submit" (click)="cadastrarCarro()" class="btn btn-success m-4">Novo</button>
    </div>
</div>