<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de carros</h5>
    <div class="card-body">
      <div class="col-md-3 col-12">
      </div>
      <td>
        <a href="#" [routerLink]="['/carros/cadastrar']" class="btn btn-outline-success">Cadastrar</a>
      </td>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cor</th>
            <th scope="col">Preço</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carro of carros">
            <td>{{carro.id}}</td>
            <td>{{carro.nome}}</td>
            <td>{{carro.cor}}</td>
            <td>{{carro.preco | currency}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" (click)="editarCarro(carro.id)">Editar</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="excluirCarro(carro.id)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>